.nav {
	--chroma: 50deg 35%;
	--lightness: var(--tone-2);
	--lighten-amount: -4%;

	& ul {
		padding: 0;
	}
}

.navItem {
	cursor: pointer;
	list-style-type: none;

	& button {
		border: 1px solid var(--border-color);
		background-color: hsl(var(--chroma) var(--lightness));

		&:hover {
			background-color: hsl(
				var(--chroma) calc(var(--lightness) + var(--lighten-amount))
			);
		}
	}

	& a {
		color: var(--font-color);

		text-decoration: none;
	}

	& a:visited {
	}
}
