.formWrapper {
	display: flex;
	padding: var(--dist-sm);
}

.form {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--dist-md);
}

.formRow {
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center;
}

.fullWidth {
	width: 100%;
}
